src/main/mule/getSecretsUsingREST.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cef8524c-4cf6-43fc-9719-8e8bc2458bed" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="AzureKeyVaultRequest" doc:name="HTTP Request configuration" doc:id="3f48d76b-253e-4e88-bfed-25c28d283268" >
		<http:request-connection protocol="HTTPS" host="${azureAuthURL}" port="443"/>
	</http:request-config>
	<http:request-config name="AzureAuthRequest" doc:name="HTTP Request configuration" doc:id="7cb9c023-5f3a-4888-93ba-e04656527ee7" >
		<http:request-connection protocol="HTTPS" host="${vaultURL-host}" port="443" />
	</http:request-config>
	<flow name="getSecretsUsingRESTFlow" doc:id="b71ca459-e970-4f95-b38c-6fccc5181de9" >
		<http:listener doc:name="Listener" doc:id="29ffe5bf-c584-45c7-8db2-a33f4a9cca56" config-ref="HTTP_Listener_config" path="/getkeyvalues"/>
		<ee:transform doc:name="Transform Message" doc:id="e17986b0-6f00-4148-8879-ee0207301a21" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/java

---

write({

"grant_type": "client_credentials",

"client_id": p('client_id'),

"client_secret": p('client_secret'),

"resource": "https://vault.azure.net"

}, 'application/x-www-form-urlencoded')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="getToken" doc:id="db1834ca-1a19-4e83-aed0-4174a3c3c682" config-ref="AzureKeyVaultRequest" path="${tenant_id}${azureAuthURL-uri}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-type" : "application/x-www-form-urlencoded"
}]]]></http:headers>
		</http:request>
		<http:request method="GET" doc:name="getKeyValue" doc:id="66899653-f350-4590-8ac6-8144979409d9" config-ref="AzureAuthRequest" path="${vaultURL-uri}${vault-keyname-userid}${vaultURL-queryParam}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : 'Bearer '++ (payload.access_token default ''),
	"Content-type" : "application/json"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="add76734-c47c-466a-9ac6-22dfb88279bf" message="#[payload]"/>
	</flow>
</mule>
